body{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 31.25em;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 12.5em;
    height: 12.5em;
    margin: 0.25em;
    border-radius: 10px;
    background-color: rgb(247,247,247);
    background-color: linear-gradient(36deg, rgba(247,247,247,1) 0%, rgba(194,194,194,1) 100%);
    transition: transform, background-color  250ms;
}
.square:hover,
.square:focus{
    transform: scale(1.01);
    background-color: rgb(207,207,207);
    background-color: linear-gradient(36deg, rgba(207,207,207,1) 0%, rgba(180,180,180,1) 100%);
    cursor: pointer;
}
.container1{
    background-image: url("/images/sunny.png");
    background-size: 10em;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
}
.container2{
    background-image: url("/images/night.png");
    background-size: 10em;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
}
.container3{
    background-image: url("/images/raining.png");
    background-size: 10em;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
}
.container4{
    background-image: url("/images/snowflake.png");
    background-size: 10em;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
}